@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:700');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('components/logos.css');
@import url('components/banner.css');
@import url('components/hero.css');
@import url('components/button.css');
@import url('components/card.css');
@import url('components/footer.css');
body {
  margin: 0;
  font-family: Open Sans;
}
h1, h2, h3, h4 {
  font-family: Poppins;
}
a {
  text-decoration: none;
}
.container {
  background: #3124AE;
}

.text-highlight {
  display: inline-block;
}

.text-highlight:hover {
  color: #89eff4;
  text-decoration: underline;
}
