.card {
  background-color: white;
  width: 300px;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}

.card h2 {
  color: #3124AE;
  margin: 0;
}

.card img {
  height: 100px;
}
